---
http_interactions:
- request:
    method: post
    uri: https://graphql.anilist.co/
    body:
      encoding: UTF-8
      string: '{"query":"query {\n                Media(search: \"Classroom of the
        Elite\", type: ANIME) {\n                title {\n                    english\n                    native\n                }\n                description\n                episodes\n                season\n                seasonYear\n                averageScore\n                status\n                }\n            }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '90'
      X-Ratelimit-Remaining:
      - '89'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"Media":{"title":{"english":"Classroom of the Elite","native":"\u3088\u3046\u3053\u305d\u5b9f\u529b\u81f3\u4e0a\u4e3b\u7fa9\u306e\u6559\u5ba4\u3078"},"description":"Koudo
        Ikusei Senior High School is a leading school with state-of-the-art facilities.
        The students there have the freedom to wear any hairstyle and bring any personal
        effects they desire. Koudo Ikusei is like a utopia, but the truth is that
        only the most superior students receive favorable treatment.<br><br>\n\nKiyotaka
        Ayanokouji is a student of D-class, which is where the school dumps its \"inferior\"
        students in order to ridicule them. For a certain reason, Kiyotaka was careless
        on his entrance examination, and was put in D-class. After meeting Suzune
        Horikita and Kikyou Kushida, two other students in his class, Kiyotaka''s
        situation begins to change. <br><br>\n(Source: Anime News Network, edited)","episodes":12,"season":"SUMMER","seasonYear":2017,"averageScore":76,"status":"FINISHED"}}}'
  recorded_at: Sun, 13 Jun 2021 21:09:36 GMT
recorded_with: VCR 6.0.0
