---
http_interactions:
- request:
    method: post
    uri: https://graphql.anilist.co/
    body:
      encoding: UTF-8
      string: '{"query":"query {\n                Media(search: \"anime_that_does_not_exists\",
        type: ANIME) {\n                title {\n                    english\n                    native\n                }\n                description\n                episodes\n                season\n                seasonYear\n                averageScore\n                status\n                }\n            }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '90'
      X-Ratelimit-Remaining:
      - '87'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Not Found.","status":404,"locations":[{"line":2,"column":17}]}],"data":{"Media":null}}'
  recorded_at: Sun, 13 Jun 2021 19:00:15 GMT
recorded_with: VCR 6.0.0
