---
http_interactions:
- request:
    method: post
    uri: https://graphql.anilist.co/
    body:
      encoding: UTF-8
      string: '{"query":"query {\n                Media(search: \"The Rising of the
        Shield Hero\", type: ANIME) {\n                title {\n                    english\n                    native\n                }\n                description\n                episodes\n                season\n                seasonYear\n                averageScore\n                status\n                }\n            }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '90'
      X-Ratelimit-Remaining:
      - '88'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"Media":{"title":{"english":"The Rising of the Shield Hero","native":"\u76fe\u306e\u52c7\u8005\u306e\u6210\u308a\u4e0a\u304c\u308a"},"description":"Naofumi
        Iwatani, an uncharismatic Otaku who spends his days on games and manga, suddenly
        finds himself summoned to a parallel universe! He discovers he is one of four
        heroes equipped with legendary weapons and tasked with saving the world from
        its prophesied destruction. As the Shield Hero, the weakest of the heroes,
        all is not as it seems. Naofumi is soon alone, penniless, and betrayed. With
        no one to turn to, and nowhere to run, he is left with only his shield. Now,
        Naofumi must rise to become the legendary Shield Hero and save the world!<br><br>\n\n\n<i>The
        first episode was pre-aired on December 27th, 2018. Regular broadcast began
        on January 9th, 2019.<\/i>\n<br><br>\n<i>Note: The first episode aired with
        a runtime of ~47 minutes as opposed to the standard 24 minute long episode.<\/i>","episodes":25,"season":"WINTER","seasonYear":2019,"averageScore":78,"status":"FINISHED"}}}'
  recorded_at: Sun, 13 Jun 2021 19:00:14 GMT
recorded_with: VCR 6.0.0
